
.loader {
  width: 100%;
  height: 99.8vh;

  margin: auto;
  display: flex;

  z-index: 9999;
  
  align-items: center;
  flex-direction: column;
  background: #0f1316;
  justify-content: center;
}

.loader h1 {
  color: #F8686D;
  margin: 0 auto 10px;
  display: block;
}

.loader img {
  color: grey;

  width: 150px;
 
  height: 50px;

  margin: 0 auto;
  display: flex;

  border-radius: 0rem;
}