
section {
  width: 100%;
  max-width: 250px;
  height: auto;

  display: flex;

  flex-direction: row;

  margin: auto;
  margin-left: 12px;

  align-items: center;
  
  overflow: hidden;

  transition: all 0.2s ease-in-out;
}

section:hover {
  -moz-transform: scale( 1.1 );
  -webkit-transform: scale( 1.1 );
  transform: scale( 1.025 );
}

/* swiper css */
 .swiper {
  width: 100%;

  height: 470px;
  display: flex;
  
  -webkit-box-shadow: inset -82px 5px 0px -13px rgba(205, 51, 51, 0.400);
  -moz-box-shadow: inset -82px 5px 0px -13px rgba(205, 51, 51, 0.400);
  box-shadow: inset -82px 5px 0px -13px rgba(205, 51, 51, 0.400);

  margin-bottom: 40px;
}

.swiper h1 {
  display: flex;
  left: 1.5rem;
  top: 0.75rem;

  z-index: 9999;

  font-size: 1.50rem;
  position: absolute;
  color: rgb(220, 100, 100);
}

 body .swiper-slide {
  width: 320px;
  height: 400px;
  text-align: center;
  font-size: 18px;
  background: transparent;

  flex: 1;
  flex-shrink: 0;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  margin-top: 60px;
  margin-right: 15px;
}

.swiper-slide img {
  width: 230px;
  height: 345px;

  display: flex;

  margin: auto;
  justify-content: center;
}

body .swiper-slide-active {
  margin-right: 15px;
}

body .swiper-slide-next {
  margin-right: 15px;
}

body .swiper-pagination-bullet {
  background: grey;
}

body .swiper-pagination-bullet-active {
  margin: 0;
  background: rgba(205 51 51 / 40%);
}

body .swiper-slide .swiper-slide-active {
  margin-right: 0;
}

.swiper-button-prev {
  width: 65px;
  height: 100px;
  
  font-size: 30px;
  display: flex;

  margin-left: -0.65rem;
  margin-top: -3.5rem;
  
  opacity: 0.7;
  background: #0d1013;
  border-radius: 0px 50px 50px 0px;
}

.swiper-button-prev:hover {
  opacity: 1;
  background: #0d1013;
}

.swiper-button-prev::after {
  color: #f8f8f8;
  width: 30px;
  height: 50px;
  
  display: flex;

  text-align: center;
  align-items: center;
  justify-content: center;

  font-size: 21px;
}

.swiper-button-next {
  width: 65px;
  height: 100px;
  
  font-size: 30px;
  display: flex;
  margin-right: -0.7rem;
  margin-top: -3.5rem;
  
  opacity: 0.7;
  background: #0d1013;
  border-radius: 50px 0px 0px 50px;
}

.swiper-button-next::after {
  color: #f8f8f8;
  width: 30px;
  height: 50px;
  
  display: flex;

  text-align: center;
  align-items: center;
  justify-content: center;

  font-size: 21px;
}

.swiper-button-next:hover {
  opacity: 1;
  background: #f8686dec;
  background: #0d1013;
}