
h1 {  
  width: 100%;
  max-width: 300px;

  height: 30px;  
  
  margin: 30px auto;
  display: block;

  text-align: left;
  
  padding: 20px;

  font-size: 28px;
  color: rgb(220, 100, 100);
}

section {
  width: 100%;
  max-width: 1400px;
  height: auto;

  display: flex;

  flex-direction: row;

  margin: 0 auto 30px;

  overflow-y: hidden;
}

section::-webkit-scrollbar {
width:  7px;
height: 7px;
}

::-webkit-scrollbar-track { 
background:transparent;
}

::-webkit-scrollbar-thumb {
background:rgba(200, 70, 70);
border-radius: 50px;
}
