
h1 {  
  width: 100%;
  max-width: 300px;

  height: 30px;  
  
  margin: 0px auto 0;
  display: block;

  text-align: center;

  font-size: 28px;
  color: rgb(220, 100, 100);
}

section {
  width: 100%;
  max-width: 1400px;
  height: auto;

  display: flex;

  flex-direction: row;

  margin: auto;

  align-items: center;

  overflow: hidden;

  transition: all 0.2s ease-in-out;
}

section:hover {
  -moz-transform: scale( 1.1 );
  -webkit-transform: scale( 1.1 );
  transform: scale( 1.025 );
}

/* swiper css */
 .swiper {
  width: 100%;
  max-width: 1700px;
  height: 550px;

  -webkit-box-shadow: inset -82px 5px 0px -13px rgba(205, 51, 51, 0.400);
  -moz-box-shadow: inset -82px 5px 0px -13px rgba(205, 51, 51, 0.400);
  box-shadow: inset  -82px 5px 0px -13px rgba(205, 51, 51, 0.400);

  margin-bottom: 80px;
}

.swiper-slide {
  width: 320px!important;
  height: 500px!important;
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: flex;
  width: 300px;
  height: 410px;
  justify-content: center;
  margin: auto;
  object-fit: cover;
}

.swiper-pagination-bullet {
  background: grey!important;
}

.swiper-pagination-bullet-active {
  background: rgba(205 51 51 / 40%)!important;
}
