
article .overlay {
  width: 100%;
  max-width: 1920px;
  height: 595px;
  
  display: flex;
  margin: 0 auto 40px;

  position: relative;
  flex-direction: column;  
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

article .overlay .description { 
  width: 100%;
  max-width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  
  left: 0;
  bottom: 0;
  position: absolute;
}

article .overlay .description a {
  font-size: 28px;
  color: #FBFEFD;
  margin-left: 20px;

  padding: 5px;
  margin-top: 18px;
  text-align: center;
  line-height: 1;

  text-decoration: none;
}

article .overlay .description h3 {
  color: #FBFEFD;
  
  width: 25px;
  height: 25px;

  padding: 5px;
  margin-top: 20px;

  font-size: 12px;
  font-weight: 500;

  line-height: 2.2;
  text-align: center;
  
  text-decoration: none;

  background: #222B32;
  border-radius: 50px;
  border: 3px solid rgb(220, 100, 100);
}