

.movieContainer {
  width: 100%;
  height: 100vh;

  display: flex;

  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.movieContainer .details {
  color: #f8f8f8;

  width: 100%;
  max-width: 1500px;
  height: 700px;

  margin:auto;
  display: flex;

  align-items: center;
  justify-content: center;

  gap: 20px;
  
  padding: 20px;
  flex-direction: row;
}

.movieContainer .details .poster img {
  width: 270px;
  height: 500px;

  display: flex;

  padding: 10px;


  border-radius: .90rem;
}

.movieContainer .details .movieDetails {
  color: #f8f8f8;
  width: 100%;
 
  
  display: flex;
  flex-direction: column;
 
  padding: 20px;
}

.movieContainer .details .movieDetails h4 {
  color: #f8f8f8;
  width: 100%;
  height: 70px;
  

  margin: 0 auto;

  text-align: center;
  align-items: center;
}

.movieContainer .details .movieDetails div {
  display: flex;
  margin: 0 auto;

  justify-content: center;
}

.movieContainer .details .movieDetails i {
  width: 100%;
 
  height: auto;

  display: flex;
  margin: 1.25rem auto;
  padding: 0.75rem;

  font-style: italic;

  font-size: 1.10rem;

  align-items: center;
  justify-content: center;
}

.movieContainer .details .movieDetails span {
  display: block;
  margin: 1.25rem auto;

  font-size: 1.10rem;
  font-weight: 300;

  text-align: justify;

  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.movieContainer .details .rating { 
  width: 100%;
  max-width: 200px;  
  height: 350px;

  display: block;
  margin: 0;

  flex-direction: column;
}

.movieContainer .details .rating ul {    
  width: auto;

  display: block;
  margin: 0 auto;
  padding: 0; 
  
  list-style: none;
}

.movieContainer .details .rating li p {
  color: white;
  margin: auto;
  font-family: 'Inter', sans-serif;
}

.movieContainer .details .rating li:nth-child( 1 ) {
  width: 200px;
  height: 250px;

  display: flex;    

  font-size: 5rem;
  font-weight: 100; 
  background: #F8686D;
}

.movieContainer .details .rating li:nth-child( 2 ) {
  width: 50%;
  height: 100px;

  display: inline-flex;
  align-items: center;

  font-size: 16px;
  font-weight: 400; 
  background: #FF5757;    
}

.movieContainer .details .rating li:nth-child( 3 ) {
  width: 50%;
  height: 100px;

  display: inline-flex;
  align-items: center;

  font-size: 16px;
  font-weight: 400; 
  background: #DB444C;
}



























/* main .MovieContainer .rating { 
  width: 100%;
  max-width: 245px;  
  height: 350px;

  display: block;
  margin: 0;

  flex-direction: column;
}

main .MovieContainer .rating ul {    
  width: auto;

  display: block;
  margin: 0 auto;
  padding: 0; 
  
  list-style: none;
}

main .MovieContainer .rating li p {
  color: white;
  margin: auto;
  font-family: 'Inter', sans-serif;
}

main .MovieContainer .rating li:nth-child( 1 ) {
  width: 245px;
  height: 250px;

  display: flex;    

  font-size: 8rem;
  font-weight: 100; 
  background: #F8686D;
}

main .MovieContainer .rating li:nth-child( 2 ) {
  width: 50%;
  height: 100px;

  display: inline-flex;
  align-items: center;

  font-size: 16px;
  font-weight: 400; 
  background: #FF5757;    
}

main .MovieContainer .rating li:nth-child( 3 ) {
  width: 50%;
  height: 100px;

  display: inline-flex;
  align-items: center;

  font-size: 16px;
  font-weight: 400; 
  background: #DB444C;
} */