
#root header {
  width: 100%;
  height: 70px;

  display: flex;
  flex-direction: row;

  align-items: center;

  z-index: 9999;

  position: fixed;
  top: 0;

  background: transparent;
  transition: all 1s ease-in-out;
}

header nav {
  width: 50%;
  display: flex;

  flex-direction: row;

  padding: 0 20px 0 20px;

  align-items: center;

  justify-content: space-around;
}

nav p {
  font-size: 22px;
  font-weight: bold;
  margin-top: 17px;
}

nav a {
  color: #FBFEFD;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  border-bottom: 3px solid rgb(220, 100, 100);
}

header .searchBox {
  width: 50%;

  display: flex;
  flex-direction: row;

  justify-content: center;
}

header .searchBox input {
  color: #f8f8f8;

  width: 100%;
  max-width: 300px;

  display: flex; 

  outline: 0;

  align-content: center;
  align-items: center;

  border-radius: 2px;
  justify-content: center;
  
  background: transparent;
  border: 0;
  border-bottom: 1px solid #d5d5d5;
}

header .searchBox input:focus {
  border: 0;
  border-bottom: 2px solid rgb(220, 100, 100);;
}

::placeholder {
  color: #e1e0e0;
  opacity: 1;
}

header .searchBox button {
  color: #f8f8f8;
  font-size: 16px;
  width: 100%;
  max-width: 70px;
  height: 30px;

  margin-left: 20px;
  margin-right: 20px;
  line-height: 1.8;

  outline: 0;
  cursor: pointer;

  border: transparent;
  border-radius: 2px;
  background: rgb(188, 78, 78);
}

header .searchBox .searchResultsContainer {
  width: 425px;
  height: 300px;

  display: flex;
  margin: 0.1rem auto;

  position: fixed;

  z-index: 9998;

  top: 70px;

  justify-content: center;

  border: 0;
  border-radius: 5px;

  overflow-y: scroll;
  background:#020202b0;
}

header .searchBox .searchResultsContainer div {
  width: 100%;
  max-width: 300px;
  height: auto;

  display: flex;
  margin:  1rem auto;

  text-align: center;
  flex-direction: column;
  
  border-radius: 2px;
  
  background-size: 450px 70px;
  background-position: center;
  background-repeat: no-repeat;

  border-bottom: 2px solid rgba(250, 128, 114, 0.294);

}

header .searchBox .searchResultsContainer div a {
  text-decoration: none;
}

header .searchBox .searchResultsContainer div p {
  font-size: 1rem;
}