
.backButton {
    color: #f8f8f8;
    font-size: 18px;
  
    width: 35px;
    height: 35px;
  
    display: flex;
  
    bottom: 0;
    right: 0;
  
    justify-content: center;
    align-items: center;
  
    position: fixed;
  
    outline: 0;
    border: 0;
  
    margin-right: 2.2rem;
    margin-bottom: 2rem;
    border-radius: 50px;
  
    z-index: 9999;
    cursor: pointer;

    background: #DB444C;
 }
 
  .backButton label {
    color: #f8f8f8;
    
    font-size: 16px;
    line-height: 0;
  
    cursor: pointer;
 }