
@media screen and ( max-width: 500px ) {

    h1 {
      width: auto;
      font-size: 20px!important;
    }
    
    section {
      width:205px!important;
      height: 355px!important;
    }

    .cardList {
      width: auto;
      height: 310px;
      margin: auto;
    }
    
    .cardList a {
      display: flex;
      margin: 5px auto;
      text-decoration: none;
      border-radius: 10px;
    }

    .cardList i {
      width: 100%;
      max-width: 200px;
      height: 305px;
    }

    .cardList .infos {      
      top: -55px;
    }

    .cardList .infos p {
      font-size: 15px;
    }

    /* swiper css */
    .swiper {
      width: 100%;
      height: 400px!important;
      box-shadow: inset  -52px 5px 0px -13px rgba(205, 51, 51, 0.400)!important;

      margin-bottom: 10px!important;
    }

    /* slide */
    .swiper-slide {
      width: 320px!important;
      height: auto!important;
      text-align: center;
      font-size: 18px;
      background: transparent;

      flex: 0!important;
      flex-shrink: 0!important;
     
      margin-top: 0!important;
    }

    .swiper-slide img {
      width: 200px!important;
      height: 305px!important;

      display: flex;

      margin: 0 auto;
      
      justify-content: center;
    }

    .swiper-pagination-bullet {
      background: grey!important;
    }

    .swiper-pagination-bullet-active {
      margin: 0;
      background: rgba(205 51 51 / 40%)!important;
    }

    .swiper-button-prev {
      color: red!important;
      background: transparent!important;
    }

    .swiper-button-prev::after {
      opacity: 1!important;
      font-size: 30px!important;
      font-weight: 600;
    }

    .swiper-button-next {
      color: red!important;
      background: transparent!important;
    }

    .swiper-button-next::after {
      opacity: 1!important;
      font-size: 30px!important;
      font-weight: 600;
    }
}

@media screen and ( max-width: 415px ) {
  
  section {
    width:175px!important;
    height: 265px!important;
    margin-top: 0!important;
  }

  .cardList i {
    max-width: 170px;
    height: 250px;
  }
  
  .cardList a:hover i {
    display: none;
  }

  .cardList .infos p {
    font-size: 15px;
  }

  /* swiper css */
  .swiper {
    height: 300px!important;
    box-shadow: inset  -32px 5px 0px -13px rgba(0, 0, 0, 0)!important;
    margin-right: 15px!important;
  }

  /* slide */
  .swiper-slide {
    width: 320px!important;

    flex: 0!important;
    flex-shrink: 0!important;

    margin-top: 0!important;
    margin-right: 0px!important;
  }

  .swiper-slide img {
    width: 170px!important;
    height: 255px!important;
  }
}

