
@media screen and ( max-width: 900px ) {

  body .movieContainer {
    margin: 0 auto;
    background-size: 100% 70%;
    background-position: top;
  }

  body .movieContainer .details {
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
  }

  body .movieContainer .details .poster img {
    height: 400px;
  }
}






